html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgba(51, 173, 204, 0.527) 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }

  .content {
    overflow-y: scroll;
    scroll-behavior: smooth;

    --fontcolor: black;
    --color: white;
    --themecolor: rgba(255, 255, 255, 0.63);

    background-color: var(--themecolor, rgba(255, 255, 255, 0.63));
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing: 100%;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top: 50%;
    transform:translate(-50%, -50%);
    width: 80%;
    height: 70%;
    overflow: hidden;
    color: var(--fontcolor, black);
    
  }
  ::-webkit-scrollbar {
    display: none;
    }
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
@media only screen 
and (min-device-width : 0px) 
and (max-device-width : 1246px)  { 
    .content {
        width: 70%;
    }   
}
section.header {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: var(--fontcolor, black);
}
a:visited{
    text-decoration: none;
    color: var(--fontcolor, black);
}
a:link{
    text-decoration: none;
    color: var(--fontcolor, black);
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    padding: 12px;
    text-decoration: none;
    width: 25%;
    text-align: center;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      display: block;
    justify-content: space-evenly;
      width: 100%;
      text-align: left;
    }
  }